body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #dc3545;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #343a40;
    color: white;
    padding: 1.0em;
    font-size: larger;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: white;
}

article {
    margin-bottom: 20px;
    background-color: rgb(243, 237, 237);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

article h2 {
    color: #dc3545; /* Heading color for articles */
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #c82333;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em;
}


